@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
:root {
	--color-normal: grey;
	--color-font-normal: white;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Jua', 'sans-serif';
	/* display: flex; */
	/* justify-content: center; */
	/* align-tiems: center; */
	height: 100vh;
}

a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
}
.input-area {
	margin: 5%;
	position: relative;
}
.input-area input {
	width: 100%;
	border-radius: 25px;
}
.input-area label {
	position: absolute; left: 10px; top: 15px;
	font-size: 18px; color: #999;
	transition: top .5s ease;
}
.card-title {
	font-size: 50px;
}

/* text ornamentation */
/* blockquote::before {
	content: open-quote;
	font-size: 2rem;
}
blockquote::after {
	content: close-quote;
	font-size: 2rem;
} */
.article-area {
	position:relative;	
}
[data-tool-tip] {
	position:relative;	
}
[data-tool-tip]::after {
	content: attr(data-tool-tip);
	display: block;
	position: absolute;
	background-color: blue;
	padding: 1em 3em;
	border-radius: 5px;
	font-size: .75em;

	color: white;
	bottom: 0;
	left: 0;
	white-space: nowrap;
	transform: scale(0);
	transition: transform ease-out 150ms;
}
[data-tool-tip]:hover::after {
	transform: scale(1);
	bottom: 100%;
	z-index: 1;
}

